.subject-content {
  background-color: $grey-darker;
  overflow-y: auto;
  padding: $content-padding;
  padding-top: $content-padding * 2;
  width: $content-expanded-width;
  transition: width 0.3s;

  @include until($tablet) {
    padding-right: 0;
    overflow-x: hidden;
    transform: translateX(0px);
  }

  &__title {
    &--secondary {
      color: $grey-light;
      margin-left: 0.5rem;
      font-size: 1.25rem;
    }
  }
}
.sidebar-collapsed {
  .subject-content {
    width: $content-collapsed-width;
    transition: width 0.3s;
  }

  @include until($tablet) {
    .subject-content {
      padding-right: $content-padding;
    }
  }
}
