@import 'variables';

@import 'bulma/sass/utilities/_all.sass';
@import 'bulma/sass/base/_all.sass';
@import 'bulma/sass/components/_all.sass';
@import 'bulma/sass/elements/_all.sass';
@import 'bulma/sass/grid/_all.sass';
@import 'bulma/sass/layout/_all.sass';

@import 'overrides';
@import 'sidebar';

// .main-container, html, body {
//   height: 100%;
// }
// .sidebar, .subject-content {
//   float: left;
//   width: $sidebar-expanded-width;
//   height: 100%;
//   overflow: scroll;
//   position: relative;
// }
// .subject-content {
//   padding: $base-padding;
//   width: $content-expanded-width;
// }

.main-container,
html,
body {
  height: 100%;
}
.sidebar,
.subject-content {
  float: left;
  height: 100%;
  overflow: scroll;
}
.main-container {
  display: flex;
  overflow-y: hidden;
}
.subject-content {
  background-color: $grey-darker;
  overflow-y: scroll;
  padding: $content-padding;
  width: $content-expanded-width;
}
