@import 'variables';

@import 'bulma/sass/utilities/_all.sass';
@import 'bulma/sass/base/_all.sass';
@import 'bulma/sass/components/_all.sass';
@import 'bulma/sass/elements/_all.sass';
@import 'bulma/sass/grid/_all.sass';
@import 'bulma/sass/layout/_all.sass';

@import 'overrides';
@import 'sidebar';
@import 'content';

.main-container,
html,
body {
  height: 100%;
}
.sidebar,
.subject-content {
  height: 100%;
  overflow-y: scroll;
}
.main-container {
  display: flex;
  overflow-y: hidden;
}
